@charset "utf-8";
/*------------------------------------------------>
  Utility Classes
<------------------------------------------------*/
:root {
  --mitt-light-blue: #74d2e8;
  --mitt-reg-blue: #0e4174;
  --mitt-green: #6cc24a;


  --app-t-shadow: 			
    0 0 2px var(--mitt-reg-blue),
    0 0 8px var(--mitt-green)
}

.glow-text {
	font-size: 2rem;
	color: var(--mitt-light-blue);
	text-shadow: var(--app-t-shadow);
	animation: flicker 1.5s infinite alternate;
}
.title {
  filter: drop-shadow(0 3px #0f02);
  animation: titleFlicker 0.75s infinite alternate;
}

.block {
	display: block;
}
.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
} 

.flex {
	display: flex;
}
.f-col {
  display: flex;
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden {
  display: none;
}
/*------------------------------------------------>
  Body Structure 
<------------------------------------------------*/

body {
  font-family: "Kode Mono", "JetBrains Mono", monospace;  
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #001;
}

main {
	width: 100%;
	justify-content: flex-start;
	align-items: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: var(--mitt-light-blue);
	text-shadow: var(--app-t-shadow);
	animation: flicker 1.5s infinite alternate;
}

h2 {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 2rem;
  color: var(--mitt-light-blue);
}

h3 {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 1.6rem;
  color: var(--mitt-light-blue);
}
.title {
  height: 500px;
}
.title.in-play {
  height: 200px;
}
/*------------------------------------------------>
  Gameplay Area
<------------------------------------------------*/
.name-scrn {
  overflow: hidden;
  height: 400px;
  transition: all 0.5s ease-in-out;
  }
.name-scrn.retracted {
  height: 0;
}
.game-area {
  overflow: hidden;
  transition: all 0.7s ease-in-out;
  height: 0;
}
.game-area.expanded {
  height: 100px;
}
.code-selector, .grid-container {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 20px;   
}

.number-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 110px;
  border: 1px solid var(--mitt-reg-blue);
  border-radius: 8px;
  background-color: #001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.number-display {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.arrow:active {
  color: #007bff;
}

.collect-wrap {
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.collect-values-button {
  height: 75px;
  width: 75px;
  margin: 20px;
  font-size: 2.6rem;
  color: var(--mitt-reg-blue);
  background-color: #001;
  border: none;
  cursor: pointer;
	text-shadow: var(--app-t-shadow);
	animation: flicker 2s infinite alternate;
}

.box {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.checkboxes {
  width: 100%;
  height: 100%;
  background-color: #486;
}

.checkbox-group {
  width: 75px;
  height: 50px;
  margin: 20px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 2px;
}

/*------------------------------------------------>
  Modal Styles 
<------------------------------------------------*/
.rules { 
  height: 40px;
  width: 180px;
  text-align: center;
  line-height: 40px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 12svh;
  left: 20px;
}

.info, .scores-btn, .mute, .quit {
  color: var(--mitt-reg-blue);
  font-size: 2rem;
  text-shadow: var(--app-t-shadow);
  animation: flicker 2s infinite alternate;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.info:hover, .scores-btn:hover, .mute:hover {
  transform: scale(1.05);
}

.timer {
  font-size: 2rem;
	color: #0f0;
	text-shadow: var(--app-t-shadow);
	animation: flicker 1.5s infinite alternate;
}

.game-rules {
  width: 700px;
  height: fit-content;
  padding: 50px;
  margin: auto;
  background-color: #001;
  color: #0f0;
}

/*------------------------------------------------>
  Game Results 
<------------------------------------------------*/
.game-results {
  width: fit-content;
  height: fit-content;
  padding: 50px;
  margin: auto;
  border: solid 2px var(--mitt-reg-blue);
  background-color: #001;
  color: var(--mitt-light-blue);
}

.button-wrapper {
  height: 60px;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.new-game {
  height: 40px;
  width: 100px;
  background-color: #001;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: var(--mitt-light-blue);
  text-shadow: var(--app-t-shadow);
  animation: flicker 1.5s infinite alternate;
  border: solid 1px var(--mitt-reg-blue);
  box-shadow: 0 0 10px var(--mitt-green);
  margin: 25px 0;
  transition: all 0.3s ease-in-out;
}

.new-game:hover {
  box-shadow: 1px 1px 25px var(--mitt-green);
}

/*---------------------------------------------->
  HIGH SCORES
<----------------------------------------------*/
.scores-wrapper {
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 25px;
  font-size: 1rem;
  position: fixed;
  background-color: #001;
  z-index: 2000;
  transition: all 0.4s ease-in-out;
  color: var(--mitt-light-blue);
  animation: flicker 1.5s infinite alternate;

  &::backdrop {
    background-color: rgb(44 5 11 / 0.1);
    backdrop-filter: blur(20px);
    animation: anim 0.35s linear;  
  }

  h4 {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    line-height: 50px;
    color: var(--clr-dark);
  }

  img {
    height: 45px;
    width: auto;
  }
}

.scores-wrapper:hover ~ .test {
  cursor: pointer; 
}

.list-wrap {
  width: 100%;
  height: 250px;
  justify-content: center;
  align-items: center;
}

ul {
  li {
    list-style: none;
    text-decoration: none;
    line-height: 25px;
  }
}

.high-scores-list {
  height: 100%;
  align-items: flex-start;
}


/*------------------------------------------------>
  Brand Footer 
<------------------------------------------------*/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  img {
    width: 200px;
    filter: invert(1);
  }
}

/*------------------------------------------------>
Animation
<------------------------------------------------*/
@keyframes titleFlicker {
	0%, 100% {
			filter: drop-shadow(0 0 10px var(--mitt-green)) opacity(1);
	}
	50% {
			filter: drop-shadow(0 0 12px var(--mitt-green)) opacity(0.95);
	}
}

@keyframes flicker {
	0%, 100% {
			text-shadow: 
					0 0 3px var(--mitt-green),
					0 0 7px var(--mitt-green),
					0 0 15px var(--mitt-green),
					0 0 30px var(--mitt-green),
					0 0 60px var(--mitt-green);
	}
	50% {
			text-shadow: 
					0 0 2px var(--mitt-green),
					0 0 5px var(--mitt-green),
					0 0 10px var(--mitt-green),
					0 0 20px var(--mitt-green),
					0 0 40px var(--mitt-green);
	}
}

@keyframes anim {
  from {
    opacity: 0;
    translate: 0 -8px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}

/*------------------------------------------------>
Media Queries 
<------------------------------------------------*/

@media (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.7rem;
  }
  .scores-wrapper {
    font-size: 0.8rem;
  }

  .number-selector {
    width: 40px;
    height: 90px;
  }
  .number-display {
    font-size: 18px;
    margin: 4px 0;
  }
  .collect-values-button {
    height: 50px;
    width: 50px;
    margin: 10px;
  }
  .new-game {
    height: 30px;
    width: 80px;
    font-size: 0.8rem;
  }
  .info, .scores-btn, .mute {
    font-size: 1.2rem;
  }

  .box {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .checkbox-group {
    width: 50px;
    height: 40px;
  }

}