@charset "utf-8";
/*
- Text content
- Clean up code (Oof)

- Clean up console logs
- Return display to zero
- Add timer 
- Add local storage for top score 

*/

.block {
	display: block;
}
.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
} 

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden {
  display: none;
}

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100svh;
  margin: 0;
  background-color: #001;
}

main {
	width: 100%;
	height: 100svh;
	justify-content: flex-start;
	align-items: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #0f0;
	text-shadow: 
			0 0 5px #0f0,
			0 0 10px #0e0,
			0 0 20px #0f0,
			0 0 40px #0e0,
			0 0 80px #4f4; 
	animation: flicker 1.5s infinite alternate;
}

.code-selector, .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  margin: 20px;   
}

.number-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 110px;
  border: 1px solid #0f0;
  border-radius: 8px;
  background-color: #001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.number-display {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.arrow {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.arrow:active {
  color: #007bff;
}

.collect-wrap {
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.collect-values-button {
  height: 75px;
  width: 75px;
  margin: 20px;
  font-size: 2.6rem;
  color: #008200;
  background-color: #001;
  border: none;
  cursor: pointer;
	text-shadow: 
			0 0 2px #0f0,
			0 0 8px #0e0,
			0 0 16px #0f0,
			0 0 32px #0e0,
			0 0 64px #4f4; 
	animation: flicker 2s infinite alternate;
}

.rules { 
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
}

.info {
  color: #008200;
  font-size: 1.6rem;
  text-shadow: 
  0 0 2px #0f0,
  0 0 8px #0e0,
  0 0 16px #0f0,
  0 0 32px #0e0,
  0 0 64px #4f4; 
animation: flicker 2s infinite alternate;

}

dialog {
  width: 600px;
  height: fit-content;
  padding: 50px;
  margin: auto;
  background-color: #001;
  color: #0f0;
  /* p {
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    color: #0f0;
  } */
}

h2 {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 2rem;
  color: #0f0;
}

h3 {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 1.6rem;
  color: #0f0;
}

.new-game {
  height: 40px;
  width: 100px;
  background-color: #001;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  color: #0f0;
  text-shadow: 
  0 0 5px #0f0,
  0 0 10px #0e0,
  0 0 20px #0f0,
  0 0 40px #0e0,
  0 0 80px #4f4; 
  animation: flicker 1.5s infinite alternate;
  border: solid 1px #0f0;
  box-shadow: 0 0 10px #0e0;
  margin: 25px 0;
  transition: all 0.3s ease-in-out;
}

.new-game:hover {
  box-shadow: 1px 1px 25px #0e0;
}

.checkbox-group {
  width: 75px;
  height: 50px;
  margin: 20px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  gap: 2px;
}

.box {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.checkboxes {
  width: 100%;
  height: 100%;
  background-color: #486;
}

.glow-text {
	font-size: 2rem;
	color: #0f0;
	text-shadow: 
			0 0 5px #0f0,
			0 0 10px #0e0,
			0 0 20px #0f0,
			0 0 40px #0e0,
			0 0 80px #4f4; 
	animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
	0%, 100% {
			text-shadow: 
					0 0 3px #0f0,
					0 0 7px #0f0,
					0 0 15px #0f0,
					0 0 30px #0f0,
					0 0 60px #0f0;
	}
	50% {
			text-shadow: 
					0 0 2px #0f0,
					0 0 5px #0f0,
					0 0 10px #0f0,
					0 0 20px #0f0,
					0 0 40px #0f0;
	}
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }

  .number-selector {
    width: 40px;
    height: 90px;
  }
  .number-display {
    font-size: 18px;
    margin: 4px 0;
  }
  .collect-values-button {
    height: 50px;
    width: 50px;
    margin: 10px;
  }

  .box {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .checkbox-group {
    width: 50px;
    height: 40px;
  }

}