@charset "utf-8";
/*

  - Very Frankensteinian 

*/
.block {
	display: block;
}
/* .container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
} */

.flex {
	display: flex;
}
.f-col {
	flex-direction: column;
}

.circle {
	border-radius: 50%;
}

.cursor-pointer {
	cursor: pointer;
}

.hidden {
  display: none;
}

body {
	font-family: "Poppins", Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #001; */
}

main {
	width: 100%;
	height: 100svh;
	justify-content: center;
	align-items: center;
}


.code-selector, .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;         
}

.number-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 110px;
  border: 1px solid #0f0;
  border-radius: 8px;
  background-color: #001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.number-display {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}
.arrow {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}
.arrow:active {
  color: #007bff;
}

.glow-text {
	font-size: 2rem;
	color: #0f0; /* Base color for the text */
	text-shadow: 
			0 0 5px #0f0,
			0 0 10px #0e0,
			0 0 20px #0f0,
			0 0 40px #0e0,
			0 0 80px #4f4; /* Layered glow effect */
	animation: flicker 1.5s infinite alternate;
}

/* Add a subtle flicker animation */
@keyframes flicker {
	0%, 100% {
			text-shadow: 
					0 0 3px #0f0,
					0 0 7px #0f0,
					0 0 15px #0f0,
					0 0 30px #0f0,
					0 0 60px #0f0;
	}
	50% {
			text-shadow: 
					0 0 2px #0f0,
					0 0 5px #0f0,
					0 0 10px #0f0,
					0 0 20px #0f0,
					0 0 40px #0f0;
	}
}



.fade {
	animation: fadeInOut 1s infinite; 
}

@keyframes fadeInOut {
	0% {
    border: 1px solid rgb(0 255 0 / 0);
	}
	50% {
    border: 1px solid rgb(0 255 0 / 1);
	}
	100% {
    border: 1px solid rgb(0 255 0 / 0);
	}
}
